@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poiret+One&display=swap');

body {
    font-family:'Pixelify Sans', sans-serif;
    display: flex; /* Flex to make all elements stacked vertically*/
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../PICTURE/background.png');
    background-position: center;
    
}

.title {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: center;
 
}
.title h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
    color: aquamarine;
}

.aivsplayer {
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    color: aquamarine;
}
.aivsplayer h2 {
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.score {
    width: 600px; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.ai_score, .player_score {
    font-size: 20px; 
    width: 50%;
    text-align: center;
    color: aquamarine;
}
.play_button {
    margin: 20px;
    cursor: pointer;
}
.board {
    position: relative;
    background-color: rgb(149, 18, 149);
    border: 2px solid black;
    width: 600px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);

}
.countdown {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 50px;
    text-align: center;
    display: none;
}

.left_paddle {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: black;
    width: 10px;
    height: 60px;
    border-radius: 5px;
}

.right_paddle {
    position: absolute;
    top: 50%;
    right: 0; 
    background-color: black;
    width: 10px;
    height: 60px;
    border-radius: 5px;
}

.ball {
    display: none;
    position: absolute;
    background-color: black;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 50%;
}   
