body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.title {
    top:10px;
}

.board {
    background-color: aqua;
    border: 2px solid black;
    width: 400px;
    height: 400px;
}


